.tw-follow-card-suggest {
    border: 1px solid rgb(47, 51, 54);
    border-radius: 16px;
}

.tw-follow-card-header {
    padding: 12px 16px;
}

.tw-follow-card-header h2 {
    margin: 0px;
    font-size: 20px;
}

.tw-follow-card-footer {
    padding: 16px;
    color: rgb(29, 155, 240);
}

.tw-follow-card-footer:hover {
    background-color: rgba(128, 128, 128, 0.242);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: .2s;
}

.tw-follow-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

.tw-follow-card:hover {
    background-color: rgba(128, 128, 128, 0.242);
    transition: .2s;
}

.tw-follow-card-user {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-follow-card-info {
    display: flex;
    flex-direction: column;
}

.tw-follow-card-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.tw-follow-card-user-name {
    color: rgb(113, 118, 123);
}

.tw-follow-card-button {
    cursor: pointer;
    margin-left: 12px;
    padding: 0px 16px;
    min-height: 32px;
    font-size: 14px;
    color: rgb(15, 20, 25);
    background-color: rgb(239, 243, 244);
    border-radius: 9999px;
    border-color: rgb(0 0 0 / 0%);
}

.tw-follow-card-button:hover {
    background-color: rgb(215, 219, 220);
    transition: .2s ease background-color;
}

.tw-follow-card-button-unfollow-text {
    display: none;
}

.tw-follow-card-button.is-following {
    min-height: 32px;
    font-size: 14px;
    color: rgb(239, 243, 244);
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid rgb(83, 100, 113);
}

.tw-follow-card-button.is-following:hover {
    color: rgb(244, 33, 46);
    background-color: rgb(244 33 46 / 10%);
    border: 1px solid rgb(103, 7, 15);
}

.tw-follow-card-button.is-following:hover .tw-follow-card-button-unfollow-text {
    display: block;
}

.tw-follow-card-button.is-following:hover .tw-follow-card-button-text {
    display: none;
}